* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }



.bo{

    font-family: 'Andika', sans-serif;
    background-color: rgba(212, 112, 237, 0.249);
    max-width:840px;
    margin: 0px auto;
    scroll-behavior: auto;
}

@media(max-width:1000px){
  .bo{
    max-width:770px;
  }
}

@media(max-width:992px){
  .bo{
    max-width:750px;
  }
}

@media(max-width:767px){
  .bo{
    /* max-width:500px; */
  }
  .first{
    position: relative;
    left: 80px;
    top: 0;
  }
    .second{
    position: relative;
    left: -140px;
    top: 350px;
  }  
  .third{
    position: relative;
    left: -360px;
    top: 660px;
  }
  .reconst{
    position: relative;
    left: 0;
    top: 600px;
  }
}




.first__text {
  font-family: 'Sevillana', cursive;
    font-size: 40px;
    text-align: center;
    margin: 0 0 40px 0;
    color: rgb(26, 26, 23);
    border-bottom: 2px solid rgb(171, 55, 206);
}

.intr{
    font-size: 25px;
    text-align: center;
    /* max-width: 1500px; */
    margin: 0 30px 50px 30px;
}
.goals{
  font-size: 20px;
  display: flex;
  margin: 0 -35px;
  margin: 0 10px 0 10px;
  flex: 0 0 33.333%;
}
.first{
  /* margin: 0 10px 0 10px;
  flex: 0 0 33.333%; */
  margin: 0 0 0 20px;
}
.second{
  margin: 0 0 0 20px;
}
.thefirstpic{
  height: 200px;
  /* width: 200px; */

}
.thesecpic{
  height: 200px;
  /* width: 210px; */
}
.thethpic{
  height: 200px;
  /* width: 200px; */
  margin: 0 0 0 45px;
}
.age{
  text-align-last: left;
  margin: 40px 0 0 0;
  font-size: 30px;
}
.qe{
  font-size: 20px;
  padding:20px 0 0 0 ;
}
.qwe{
  font-size: 20px;
  padding:10px 0 0 0 ;
}
.cont{
  font-size: 20px;
  margin: 0 50px 30px 0 ;
}
.third{
  position: relative;
  right: 0;
  bottom: 0;
}
.asd{
  position: relative;
  right: -20px;
  bottom: 0;
}
.ert{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0 0 0;
}